<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create</title>
</head>

<body>
  <h1>Create a Category</h1>
  <h2>Categories</h2>
  <div class="categories">
    <a class="button" href="/create/brands">Add a Brand</a>
    <a class="button" href="/create/types">Add a Type</a>
    <a class="button" href="/create/backpacks">Add a Backpack</a>
  </div>
</body>

</html>