<!DOCTYPE html>
<html lang="en">

<head>
  <title>Backpack Inventory</title>
</head>

<body>
  <h1>Backpack Inventory</h1>
  <h2>Categories</h2>
  <div class="categories">
    <a class="button" href="/brand">Brand</a>
    <a class="button" href="/type">Type</a>
    <a class="button" href="/volume">Volume</a>
    <a class="button" href="/backpacks">All Backpacks</a>
  </div>
</body>

</html>