<!DOCTYPE html>
<html lang="en">

<head>
  <title>Backpack Inventory</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <h1>Backpack Inventory</h1>
  <h2>Categories</h2>
  <div class="categories">
    <a class="button" href="/brands">Brand</a>
    <a class="button" href="/types">Type</a>
    <a class="button" href="/volumes">Volume</a>
    <a class="button" href="/backpacks">All Backpacks</a>
  </div>
</body>

</html>